#dashboard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'display'
    'activitySwitcher';
  justify-items: stretch;
  align-items: center;
  justify-content: start;
  row-gap: 10px;
}

#display {
  grid-area: display;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#activitySwitcher {
  grid-area: activitySwitcher;
  background-color: rgb(222, 217, 206);
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 15%);
  margin: 0px 5px 10px 5px;
}

#userProfile {
  display: flex;
  flex-direction: column;
}

#userProfile>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#loveFinder {
  width: 100%;
  height: 100%;
}

#imageAndInfos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#targetImage {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
}

#eee {
  word-break: break-word;
}

.inputsAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 13px;
  padding-top: 13px;
  font-size: 14px;
}

#dotImage {
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dotImage>div {
  margin: 10px;
}

#currentImage {
  color: red;
}

#targetOverview {
  z-index: 1;
  color: white;
  font-size: 2em;
}

#actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  /* margin-left: 10px;
  margin-right: 10px; */
}

#actionButtons>button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 2em;
  color: #FFFFFF;
  background-color: #4eb5f1;
  border: none;
  padding: 5px 15px;
  font-size: 1em;
}

#updatesTodo {
  background-color: #2ea44f;
  cursor: pointer;
}

#updatesTodo:hover {
  background-color: #2c974b;
}

.btnUpdateUser {
  width: 30%;
  margin: auto;
  background-color: #909090;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: not-allowed;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.updateCategories {
  font-size: 1.5em;;
}



/* #dashboardIn {
  display: grid;
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 2px 5px rgb(0 0 0 / 15%);
  border-radius: 40px;
  grid-gap: 10px;
  padding: 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: 'infos infos search search showRequest logout'
                        'friends friends wall wall wall wall'
                        'legals legals footer footer footer footer';
  justify-items: stretch;
  align-items: center;
  justify-content: start;
} */

/* #dashboardOut {
  background: 
  linear-gradient(155deg, rgba(220, 195, 235, 0.8), rgba(255,0,0,0) 40%),
  linear-gradient(260deg, rgba(150,208,227, 0) 60%, rgba(150,208,227,0.8) 100%),
  linear-gradient(340deg, rgba(176, 122, 208, 0.8), rgba(0,255,0,0) 40%);
  padding: 40px; 
}
  
#dashboardIn {
  display: grid;
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 2px 5px rgb(0 0 0 / 15%);
  border-radius: 40px;
  grid-gap: 10px;
  padding: 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas: 'infos infos search search showRequest logout'
                        'friends friends wall wall wall wall'
                        'legals legals footer footer footer footer';
  justify-items: stretch;
  align-items: center;
  justify-content: start;
}

.dashboardElement {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 1px 2px 5px rgb(0 0 0 / 15%);
  padding: 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#infos {
  grid-area: infos;
}

#search {
  grid-area: search;
  display: flex;
}

#logout {
  grid-area: logout;
}

#friends {
  grid-area: friends;
}

#showRequest {
  grid-area: showRequest;
}



.ownPost:hover, .postFriend:hover {
  background: gray;
}

.pseudoPost {
  grid-area: pseudo;
}
.messagePost {
  grid-area: message;
  overflow-wrap: anywhere;
}
.likesPost {
  grid-area: likes;
  position: relative;
}
.likesPost > button {
  background: none;
  border: none;
  cursor: pointer;
}

.listOfLikers {
  display: none;
}

.likesPost:hover .listOfLikers{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  left: 25px;
  z-index: 1;
}

.listOfLikers {
  width: 100px;
}

#wall {
  grid-area: wall;
}

#postMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

#postMessage > * {
  margin-right: 10px;
}

#postMessage > textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}



#legals {
  grid-area: legals;
}

#footer {
  grid-area: footer;
} */