#matches {
    display: flex;
    flex-direction: column;
}

#matchesPreview {
    display: flex;
    flex-direction: row;
    overflow: auto;
    border-bottom: 1px solid #dadde1;
}

.lover {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
